{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'blog/uiscript.js' %}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/uistyle.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Battle Map</title>
</head>
<body>

	{% csrf_token %}
	<div class="buttongrid">
		
	</div>


<div id="TerrainButtons" class="sidenav">
  <a href="#" id="wall">Wall</a>
  <a href="#" id="tree">Tree</a>
  <a href="#" id="rock">Rock</a>
  <a href="#" id="water">Water</a>
  <a href="#" id="fire">Fire</a>
</div>
<div id="DeselectButtons" class="sidenav">
  <a href="#" id="deselect">Deselect</a>
</div>


<div id="add_field" class="add_field">
<input type="text" id="characterInput" placeholder="Piece name...">
<span onclick="newElement()" class="addBtn">Add</span>
</div>
<div class="listcontainer">
    <h2 style="margin:5px">Current Pieces</h2>
<ul id="character_list">
</ul>
</div>

<button id="myBtn" onclick="openModal()">Upload Images</button>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close_modal">&times;</span>
    <div id="image_picker">
	</div> 
  </div>
</div>


<input type="file" id="image_to_upload"/>

<script type="text/javascript">
	// $.noConflict();	
	formdata = new FormData();		
	$("#image_to_upload").on("change", function() {
		var file = this.files[0];
		if (formdata) {
			formdata.append("image", file);
			$.ajax({
				url: "/images",
				type: "POST",
				data: formdata,
				processData: false,
				contentType: false,
				success:function(){}
			});
		}						
	});	
</script>

</body>
</html>